<!-- begin multiplataforma -->
<div class="multiplataforma">
	<div class="multiplataforma__inner inner">
		<div class="multiplataforma__img">
			<div class="multiplataforma__img-out">
				<img src="./img/multiplataforma.png" alt="screening">
			</div>
		</div>
		<div class="multiplataforma__text">
			<div class="multiplataforma__icons">
				<div class="multiplataforma__icon">
					{{ mixins.icon('apple') }}
				</div>
				<div class="multiplataforma__icon">
					{{ mixins.icon('android') }}
				</div>
			</div>
			<h2 class="multiplataforma__title title">Multiplataforma</h2>
			<p>MCGoLive es compatible con dispositivos iOS y Android, para que disfrutes de tus contenidos favoritos en cualquier Smartphone o tablet.</p>
		</div>
	</div>
</div>
<!-- end multiplataforma -->