<!-- begin platforms -->
<div class="platforms">
	<div class="platforms__inner inner">
		<div class="platforms__left">
			<ul class="platforms__list">
				<li class="platforms__item">
					<a href="#" class="platforms__link platforms__link_hbogo" target="_blank">
						<img src="./img/hbogo.png" alt="hbo go">
					</a>
				</li>
				<li class="platforms__item">
					<a href="#" class="platforms__link platforms__link_foxplay" target="_blank">
						<img src="./img/foxplay.png" alt="fox play">
					</a>
				</li>
				<li class="platforms__item">
					<a href="#" class="platforms__link platforms__link_espnplay" target="_blank">
						<img src="./img/espnplay.png" alt="espn play">
					</a>
				</li>
			</ul>
			<div class="platforms__info">Y OTRAS 15 PLATAFORMAS</div>
		</div>
		<div class="platforms__text">
			<h2 class="platforms__title title">Tus contenidos Play, a donde vayas.</h2>
			<p>Además de las señales, encontrá también las plataformas play con los mejores contenidos On Demand.</p>
		</div>
	</div>
</div>
<!-- end platforms -->