<!-- begin screening -->
<div class="screening">
	<div class="screening__inner inner">
		<div class="screening__img">
			<div class="screening__img-out">
				<img src="./img/screening.png" alt="screening">
			</div>
		</div>
		<div class="screening__text">
			<div class="screening__icons">
				<div class="screening__icon">
					{{ mixins.icon('screening-1') }}
				</div>
				<div class="screening__icon">
					{{ mixins.icon('screening-2') }}
				</div>
			</div>
			<h2 class="screening__title title">Screening</h2>
			<p>Con la funcionalidad de Screening de la aplicación también podes ver los contenidos en cualquier TV con un Chromcast o Apple TV.</p>
		</div>
	</div>
</div>
<!-- end screening -->