<!-- begin zapping -->
<div class="zapping">
	<div class="zapping__inner inner">
		<div class="zapping__img">
			<div class="zapping__img-out">
				<img src="./img/zapping.png" alt="zapping">
			</div>
		</div>
		<div class="zapping__text">
			<h2 class="zapping__title title">I {{ mixins.icon('heart') }} Zapping</h2>
			<p>Lo mejor de la tele conoce lo mejor de los dispositivos móviles: ¡movete entre los canales más rápido que con el control remoto!</p>
		</div>
	</div>
</div>
<!-- end zapping -->