.icon-android {
  width: 0.83em;
  height: 1em;
  fill: currentColor;
}
.icon-apple {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-heart {
  width: 1.12em;
  height: 1em;
  fill: currentColor;
}
.icon-key {
  width: 1.08em;
  height: 1em;
  fill: currentColor;
}
.icon-login {
  width: 0.91em;
  height: 1em;
  fill: currentColor;
}
.icon-screening-1 {
  width: 1.41em;
  height: 1em;
  fill: currentColor;
}
.icon-screening-2 {
  width: 1.38em;
  height: 1em;
  fill: currentColor;
}
